bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# MacOS files
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.staging
.env.production

# User secrets
appsettings.*.Local.json

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

#Docker temp files
backend/
frontend/
